.content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 2fr));
}

.Fuente{
  border-top-right-radius: 25px;
  display:block;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  height: 300px;
}